Repository nxtg-ai/SynApps-v0.4.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-eslint, frontend-prettier-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: ["--config", "apps/orchestrator/pyproject.toml"]
        files: ^apps/orchestrator/
      - id: ruff-format
        args: ["--config", "apps/orchestrator/pyproject.toml"]
        files: ^apps/orchestrator/

  - repo: local
    hooks:
      - id: frontend-eslint
        name: frontend-eslint
        entry: npm --prefix apps/web-frontend exec -- eslint --config apps/web-frontend/eslint.config.mjs
        language: system
        files: ^apps/web-frontend/.*\.(js|jsx|mjs|cjs|ts|tsx)$
      - id: frontend-prettier-check
        name: frontend-prettier-check
        entry: npm --prefix apps/web-frontend exec -- prettier --check
        language: system
        files: ^apps/web-frontend/
      - id: frontend-typecheck
        name: frontend-typecheck
        entry: bash -lc 'cd apps/web-frontend && npm run typecheck'
        language: system
        pass_filenames: false
        files: ^apps/web-frontend/(src/|tsconfig\\.json|tsconfig\\.typecheck\\.json)

fix: Use Node 22 in CI to match dev lockfile (npm 11)
  .github/workflows/ci.yml
  infra/docker/Dockerfile.frontend
Due: none

fix: Regenerate package-lock.json with npm 10 for CI compatibility
  apps/web-frontend/package-lock.json
Due: frontend-prettier-check

fix: Track src/lib/utils.ts and add CI test env vars
  .github/workflows/ci.yml
  .gitignore
  apps/web-frontend/src/lib/utils.ts
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

docs: Update NEXUS with CI run URL — all 8 jobs green
  .asif/NEXUS.md
Due: none

feat: Wire Universal LLM Node to frontend (N-09)
  .asif/NEXUS.md
  apps/web-frontend/src/components/WorkflowCanvas/NodeConfigModal.tsx
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.tsx
  apps/web-frontend/src/components/WorkflowCanvas/nodes/AppletNode.tsx
  apps/web-frontend/src/pages/EditorPage/EditorPage.tsx
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Wire Merge, ForEach, and IfElse nodes to frontend (N-10, N-11)
  .asif/NEXUS.md
  apps/web-frontend/src/components/WorkflowCanvas/NodeConfigModal.tsx
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.tsx
  apps/web-frontend/src/components/WorkflowCanvas/nodes/AppletNode.tsx
  apps/web-frontend/src/pages/EditorPage/EditorPage.tsx
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Ship N-14 Execution Visualization — animated edges, node glow, output preview
  .asif/NEXUS.md
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.test.tsx
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.tsx
  apps/web-frontend/src/components/WorkflowCanvas/edges/AnimatedEdge.tsx
  apps/web-frontend/src/components/WorkflowCanvas/nodes/AppletNode.tsx
  apps/web-frontend/src/components/WorkflowCanvas/nodes/Nodes.css
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Ship N-13 Code Node with Sandboxing — 15/15 initiatives complete
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/web-frontend/src/components/WorkflowCanvas/NodeConfigModal.tsx
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.tsx
  apps/web-frontend/src/components/WorkflowCanvas/nodes/AppletNode.tsx
  apps/web-frontend/src/pages/EditorPage/EditorPage.tsx
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Ship N-16 2Brain Dogfood Template — first real-world workflow (PI-001)
  .asif/NEXUS.md
  apps/web-frontend/src/templates/TwoBrainInbox.ts
  apps/web-frontend/src/templates/index.ts
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Ship N-17 Workflow Export/Import + UX Polish
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_coverage_expansion.py
  apps/web-frontend/src/components/Layout/MainLayout.tsx
  apps/web-frontend/src/pages/DashboardPage/DashboardPage.css
  apps/web-frontend/src/pages/DashboardPage/DashboardPage.tsx
  apps/web-frontend/src/pages/EditorPage/EditorPage.css
  apps/web-frontend/src/pages/EditorPage/EditorPage.tsx
  apps/web-frontend/src/pages/SettingsPage/SettingsPage.tsx
  apps/web-frontend/src/services/ApiService.ts
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

fix: Only show image generator selector when workflow has an Artist node
  apps/web-frontend/src/pages/EditorPage/EditorPage.tsx
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

governance: add Team Questions standing instruction
  CLAUDE.md
Due: none

enrichment: directive for Playwright E2E core workflow journey
  .asif/NEXUS.md
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-01 — Playwright E2E core workflow tests
  .asif/NEXUS.md
  apps/web-frontend/e2e/core-workflow.e2e.ts
Due: frontend-eslint, frontend-prettier-check

CoS: Block 2 directives loaded
  .asif/NEXUS.md
Due: none

docs: Ship DIRECTIVE-NXTG-20260222-02 — UAT Guide + 2Brain dogfood prep
  .asif/NEXUS.md
  UAT-GUIDE.md
Due: none

test: Ship DIRECTIVE-NXTG-20260222-02 — 2Brain integration validation
  .asif/NEXUS.md
  apps/orchestrator/tests/test_2brain_integration.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-03 — Content Engine workflow template
  .asif/NEXUS.md
  README.md
  apps/orchestrator/tests/test_content_engine_integration.py
  apps/web-frontend/src/components/WorkflowCanvas/WorkflowCanvas.tsx
  apps/web-frontend/src/templates/ContentEngine.ts
  apps/web-frontend/src/templates/index.ts
  templates/content_engine.yaml
Due: frontend-eslint, frontend-prettier-check, frontend-typecheck

feat: Ship DIRECTIVE-NXTG-20260222-04 — LLM Provider Abstraction Layer
  .asif/NEXUS.md
  synapps/__init__.py
  synapps/providers/__init__.py
  synapps/providers/llm/__init__.py
  synapps/providers/llm/anthropic_provider.py
  synapps/providers/llm/base.py
  synapps/providers/llm/openai_provider.py
  synapps/providers/llm/registry.py
  tests/test_llm_providers.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-05 — Portfolio Dogfood Dashboard
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_portfolio_dashboard.py
Due: none

docs: Ship DIRECTIVE-NXTG-20260222-06 — OpenAPI Spec + API Docs
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_openapi_docs.py
  docs/API.md
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-07 — Health Monitoring + Metrics Endpoint
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_health_metrics.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-08 — Provider Auto-Discovery + Registry
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_provider_discovery.py
  docs/openapi.json
  synapps/providers/llm/registry.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-09 — Template Validation + Error Reporting
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_template_validation.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-10 — Webhook Support + Event System
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_webhooks.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-11 — Async Task Queue + Background Execution
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_async_tasks.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-12 — API Key Authentication + Admin Key Management
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_admin_keys.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-13 — Workflow History + Audit Trail
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_execution_history.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260222-14 — Rate Limiting + Request Throttling
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/middleware/rate_limiter.py
  apps/orchestrator/tests/conftest.py
  apps/orchestrator/tests/test_rate_limit_per_key.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-01 — Template Marketplace + Import/Export
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_template_marketplace.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-02 — Environment Configuration + .env Support
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_env_config.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-03 — Logging Framework + Request Tracing
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_request_tracing.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-04 — Docker Compose + Production Deployment
  .asif/NEXUS.md
  .dockerignore
  apps/orchestrator/tests/test_docker_config.py
  docker-compose.yml
  infra/docker/Dockerfile.orchestrator
  infra/docker/docker-compose.yml
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-05 — SDK Client Library
  .asif/NEXUS.md
  apps/orchestrator/tests/test_sdk_client.py
  synapps-sdk/pyproject.toml
  synapps-sdk/synapps_sdk/__init__.py
  synapps-sdk/synapps_sdk/_base.py
  synapps-sdk/synapps_sdk/async_client.py
  synapps-sdk/synapps_sdk/client.py
  synapps-sdk/synapps_sdk/exceptions.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-06 — Health Dashboard + Metrics Collection
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_health_dashboard.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-07 — Error Classification + Retry Policies
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_error_retry.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-08 — Connector Health Probes
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_connector_health.py
  docs/openapi.json
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-09 — Template Versioning
  .asif/NEXUS.md
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_template_versioning.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-10 — Token Bucket Rate Limiting
  .asif/NEXUS.md
  apps/orchestrator/middleware/rate_limiter.py
  apps/orchestrator/tests/conftest.py
  apps/orchestrator/tests/test_token_bucket.py
Due: none

feat: Ship DIRECTIVE-NXTG-20260223-11 — API Key Management + Rotation
  .asif/NEXUS.md
  apps/orchestrator/api_keys/__init__.py
  apps/orchestrator/api_keys/manager.py
  apps/orchestrator/main.py
  apps/orchestrator/tests/test_api_key_manager.py
Due: none
